h1{
    text-align: center;
}

h2{
    text-decoration: underline;
}

.container{
    display:flex;
    gap: 20px;
    align-items: center;
}

body{
    font-size: 18px;
    background-color: rgb(180, 127, 78);
    font-family: Arial, sans-serif;
}

.form{
    text-align: center;
    margin: 0 auto;  
    width: 50%;  
    font-size: 20px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}